<!DOCTYPE html>
<html data-ng-app="serviceModule">
<head>
	<meta charset="ISO-8859-1">
    <script src="js/libs/angularjs/angular.min.js"></script>
    <script src="js/util.js"></script>
  </head>
  <body data-ng-controller="AngularJSPostController"> 
	
	<div>
		<h4>{{variable}}</h4>
		<b>You had sent below data through post:</b>
		<p>Response:  {{responseData}}</p>		
	</div>
 
</body>
</html>